<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puppypals_foryourpooch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BreedRows"></activity>
        <activity android:name=".Cus_breeds" />
        <activity android:name=".CusBreedInfoScroll" />
        <activity android:name=".botNav" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AdminProfile" />
        <activity android:name=".CusBreedInfo" />
        <activity android:name=".CusBreedSelect" />
        <activity android:name=".UpadteBreedInfo" />
        <activity
            android:name=".Manage_breed_info"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".ManageBreedInfo" />
        <activity android:name=".AddBreedInfo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>